*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
button:focus,
input:focus,
select:focus,
a:focus,
li:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 1px #BBBBBB;
          box-shadow: 0px 0px 5px 1px #BBBBBB;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: 'MarkOT-Light';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Light.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Medium';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Medium.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Bold';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Bold.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Bold.woff2) format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Heavy';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Heavy.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Heavy.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Black';
  src: url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Black.woff) format('woff'), url(/home/vlad/Documents/projects/wink/public/fonts/MarkOT-Black.woff2) format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container {
    max-width: 312px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
* {
  font-family: 'MarkOT-Medium';
}
main {
  height: 100vh;
}
.form-btn {
  width: 100%;
  max-width: 540px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: #3686DC;
  border: 0;
  padding: 11px 0;
  font-size: 14px;
  margin-bottom: 10px;
}
.form-btn_disabled {
  background: #BBBBBB;
}
.form-btn_white {
  background: #fff;
  color: #333333;
}
.form-input {
  font-size: 14px;
  border: 0;
  background: #F5F5F5;
  border-radius: 50px;
  padding: 11px 30px;
  margin-bottom: 10px;
}
.app-bar {
  height: 70px;
  background: #fff;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.app-bar__nav {
  height: 17px;
}
.app-bar__avatar {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.app-bar__avatar span {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  background: #FA5A42;
  border-radius: 10px;
}
.menu-dropdown {
  position: fixed;
  top: 70px;
  width: 100%;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
  background: #fff;
}
.menu-dropdown ul {
  margin-top: 10px;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
}
.menu-dropdown .menu-item_active {
  background: #FFAF1A;
}
.menu-dropdown .menu-item:hover {
  background: #F5F5F5;
}
.menu-dropdown .menu-item a {
  height: 52px;
  padding: 16px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #333333;
}
.menu-dropdown .menu-item a img {
  margin-right: 10px;
}
main.swipe-to-left .app-bar {
  width: 61px;
  padding: 0;
  padding: 20px;
}
main.swipe-to-left .app-bar .app-bar__avatar {
  display: none;
}
main.swipe-to-left .menu-dropdown {
  width: 61px;
}
main.swipe-to-left .menu-dropdown a {
  padding: 16px 20px;
}
main.swipe-to-left .menu-dropdown .menu-item span {
  display: none;
}
main.swipe-to-left .app-content {
  position: absolute;
  width: calc(100vw - 61px);
  left: 61px;
}
.auth .container {
  height: 100vh;
}
.auth .header {
  padding-top: 62px;
  padding-bottom: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth .header__title {
  font-family: 'MarkOT-Heavy';
  text-transform: uppercase;
  color: #FFAF1A;
  font-size: 22px;
  line-height: 19px;
  margin-left: 10px;
}
.auth .content__title {
  font-family: 'MarkOT-Bold';
  color: #333333;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px;
}
.auth .delimiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 540px;
}
.auth .delimiter p {
  color: #BBBBBB;
}
.auth .delimiter .line {
  width: calc(50% - 30px);
  height: 1px;
  background: #BBBBBB;
}
.auth .content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
}
.auth .footer {
  margin-top: 134px;
}
.auth .sign-up-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.auth .sign-up-message p {
  font-family: 'MarkOT';
  color: #333333;
  margin-right: 5px;
}
.auth .sign-up-message a {
  color: #FFAF1A;
}
.whats-new .app-content {
  background: #3686DC;
  height: calc(100vh - 70px);
  color: #fff;
  overflow-y: scroll;
}
.whats-new .app-content__title {
  font-size: 14px;
  text-align: center;
}
.whats-new .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.whats-new .card-icon {
  display: block;
  margin: 30px auto;
}
.whats-new .card-title {
  font-family: 'MarkOT-Bold';
  font-size: 24px;
  text-align: center;
}
.whats-new .card-text {
  margin-top: 32px;
  font-family: 'MarkOT';
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.whats-new .form-btn {
  max-width: 183px;
  margin: 20px auto 0;
  display: block;
}
.dashboard {
  overflow-x: hidden;
}
.dashboard .tabs {
  background: #F8F8F8;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 29px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow-x: hidden;
}
.dashboard .tabs .tab__item {
  font-family: 'MarkOT-Bold';
  min-width: 110px;
  margin-right: 10px;
  color: #DDDDDD;
  font-size: 14px;
}
.dashboard .tabs .tab__item_active {
  color: #333333;
}
.dashboard .card {
  height: calc(100vh - 70px - 94px - 65px);
  overflow-y: scroll;
}
.dashboard .event {
  padding: 25px 40px 18px 16px;
  font-size: 12px;
  max-height: 80px;
}
.dashboard .event .event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}
.dashboard .event .event__img {
  height: 37px;
  margin-right: 18px;
}
.dashboard .event .name {
  font-family: 'MarkOT-Bold';
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 235px;
  overflow-x: hidden;
}
.dashboard .event .news {
  font-family: 'MarkOT';
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 275px;
  overflow-x: hidden;
}
.dashboard .event .date {
  position: absolute;
  right: 0;
  top: 0;
  color: #BBBBBB;
}
.dashboard .whats-new-link {
  position: fixed;
  bottom: 0;
  background: #3686DC;
  color: #fff;
  height: 65px;
  padding: 10px 50px 20px 30px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dashboard .whats-new-link .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dashboard .whats-new-link .whats-new__title {
  font-family: 'MarkOT';
  font-size: 12px;
}
.dashboard .whats-new-link .whats-new__subtitle {
  font-size: 14px;
  line-height: 24px;
}


/*# sourceMappingURL=main.css.map*/