* {
  font-family: @base-font-medium;
}
main{
  height: 100vh;
}
.form-btn {
  width: 100%;
  max-width: 540px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: @blue;
  border: 0;
  padding: 11px 0;
  font-size: 14px;
  margin-bottom: 10px;
  &_disabled{
    background: @light-gray;
  }
  &_white{
    background: #fff;
    color: @darker-gray;
  }
}

.form-input{
  font-size: 14px;
  border: 0;
  background: @lightest-gray;
  border-radius: 50px;
  padding: 11px 30px;
  margin-bottom: 10px;
}
.app-bar{
  height: 70px;
  background: #fff;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  transition: all 0.25s ease;
}
.app-bar__nav{
  height: 17px;
}
.app-bar__avatar{
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 15px;
  border: 1px solid @lighter-gray;
  span{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    background: @watermelon;
    border-radius: 10px;

  }
}
.menu-dropdown{
  position: fixed;
  top: 70px;
  width: 100%;
  transition: width 0.25s ease;
  background: #fff;
  ul{
    margin-top: 10px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .menu-item{
    &_active{
      background: @enjoy-yellow;
    }
    &:hover{
      background: @lightest-gray;
    }
    a{
      height: 52px;
      padding: 16px 30px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: @darker-gray;
      img{
        margin-right: 10px;
      }
    }
  }
}
main{
  &.swipe-to-left{
    .app-bar{
      width: 61px;
      padding: 0;
      padding: 20px;
      .app-bar__avatar{
        display: none;
      }
    }
    .menu-dropdown{
      width: 61px;
      a{
        padding: 16px 20px;
      }
      .menu-item{
        span{
          display: none;
        }
  
      }
    }
    .app-content{
      position: absolute;
      width: calc(100vw - 61px);
      left: 61px;
    }
  }
  
}