@font-face {
  font-family: 'MarkOT-Light';
  src: url('../fonts/MarkOT-Light.woff') format('woff'),
    url('../fonts/MarkOT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT';
  src: url('../fonts/MarkOT.woff') format('woff'),
    url('../fonts/MarkOT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Medium';
  src: url('../fonts/MarkOT-Medium.woff') format('woff'),
    url('../fonts/MarkOT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Bold';
  src: url('../fonts/MarkOT-Bold.woff') format('woff'),
    url('../fonts/MarkOT-Bold.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Heavy';
  src: url('../fonts/MarkOT-Heavy.woff') format('woff'),
    url('../fonts/MarkOT-Heavy.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'MarkOT-Black';
  src: url('../fonts/MarkOT-Black.woff') format('woff'),
    url('../fonts/MarkOT-Black.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@base-font: 'MarkOT';
@base-font-light: 'MarkOT-Light';
@base-font-medium: 'MarkOT-Medium';
@base-font-bold: 'MarkOT-Bold';
@base-font-heavy: 'MarkOT-Heavy';
@base-font-black: 'MarkOT-Black';



@enjoy-yellow: #FFAF1A;
@watermelon: #FA5A42;
@lightest-gray: #F5F5F5;
@lighter-gray: #DDDDDD;
@light-gray: #BBBBBB;
@gray: #858585;
@dark-gray: #555555;
@darker-gray: #333333;
@blue: #3686DC;


.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media(min-width: 320px) {
    max-width: 312px;
  }
  @media(min-width: 576px) {
    max-width: 540px;
  }
  @media(min-width: 768px) {
    max-width: 720px;
  }
  @media(min-width: 992px) {
    max-width: 960px;
  }
  @media(min-width: 1200px) {
    max-width: 1140px;
  }
  @media(min-width: 1400px) {
    max-width: 1320px;
  }
}




