.auth{
  .container{
    height: 100vh;
  }
  .header{
    padding-top: 62px;
    padding-bottom: 71px;
    display: flex;
  }
  .header__title{
    font-family: @base-font-heavy;
    text-transform: uppercase;
    color: @enjoy-yellow;
    font-size: 22px;
    line-height: 19px;
    margin-left: 10px;
  }
  .content__title{
    font-family: @base-font-bold;
    color: @darker-gray;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .delimiter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 540px;
    p{
      color: @light-gray;
    }
    .line {
      width: calc(50% - 30px);
      height: 1px;
      background: @light-gray;
    }
  }
  .content__form{
    display: flex;
    flex-direction: column;
    max-width: 540px;
  }
  .footer{
    margin-top: 134px;
  }
  .sign-up-message{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    p{
      font-family: @base-font;
      color: @darker-gray;
      margin-right: 5px;
    }
    a{
      color: @enjoy-yellow;
    }
  }
}