.dashboard{
  overflow-x: hidden;
  .tabs{
    background: #F8F8F8;
    height: 94px;
    display: flex;
    padding: 50px 0 29px 40px;
    width: max-content;
    overflow-x: hidden;
    .tab__item{
      font-family: @base-font-bold;
      min-width: 110px;
      margin-right: 10px;
      color: @lighter-gray;
      font-size: 14px;
      &_active{
        color: @darker-gray;
      }
    }
    
  }
  .card{
    height: calc(100vh - 70px - 94px - 65px);
    overflow-y: scroll;
  }
  .event{
    padding: 25px 40px 18px 16px;
    font-size: 12px;
    max-height: 80px;
    .event-content{
      display: flex;
      overflow: hidden;
      position: relative;
    }
    .event__img{
      height: 37px;
      margin-right: 18px;
    }
    .name{
      font-family: @base-font-bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 235px;
      overflow-x: hidden;
    }
    .news{
      font-family: @base-font;
      margin-top: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 275px;
      overflow-x: hidden;
    }
    .date{
      position: absolute;
      right: 0;
      top: 0;
      color: @light-gray
    }
  }
  .whats-new-link{
    position: fixed;
    bottom: 0;
    background: @blue;
    color: #fff;
    height: 65px;
    padding: 10px 50px 20px 30px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .text-part{
      display: flex;
      flex-direction: column;

    }
    .whats-new__title{
      font-family: @base-font;
      font-size: 12px;
    }
    .whats-new__subtitle{
      font-size: 14px;
      line-height: 24px;
    }
  }
}