.whats-new{
  
  .app-content{
    background: @blue;
    height: calc(100vh - 70px);
    color: #fff;
    overflow-y: scroll;
  }
  .app-content__title{
    font-size: 14px;
    text-align: center;
  }
  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card-icon{
    display: block;
    margin: 30px auto;
  }
  .card-title{
    font-family: @base-font-bold;
    font-size: 24px;
    text-align: center;
  }
  .card-text{
    margin-top: 32px;
    font-family: @base-font;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
  .form-btn{
    max-width: 183px;
    margin: 20px auto 0;
    display: block;
  }
}